/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: rgba(255,255,255,0.85);
  color: #024457;
  /*border-radius: 10px;*/
  border: 1px solid #167F92;
  /* box-shadow: 2px 2px 10px #AAA; */
}

.responstable tr {
  border: 1px solid rgba(217,228,230, 0.7);
}

.responstable tr:nth-child(odd) {
  background-color: rgba(234,243,243, 0.7);
}

.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}

.responstable th:first-child {
  display: table-cell;
  text-align: center;
}

.responstable th:nth-child(2) {
  display: table-cell;
}

.responstable th:nth-child(2) span {
  display: none;
}

.responstable th:nth-child(2):after {
  content: attr(data-th);
}

@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}

.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}

.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}

@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}

.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}

@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

.input {
  border-top: 1px solid #b6e1fc;
  background: #167F92;
  padding: 6.5px 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.input:hover {
  border-top-color: #8dc2e3;
  background: #8dc2e3;
  color: #024457;
}

.input:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background: url("bg.gif");*/
  background: #fff;
  background-size: cover;
}

footer {
  background: rgb(230,230,230);
  text-align: center;
  bottom:0;
  width: 100%;   
  padding: 0 0 0.5em 0;
  border-top: 5px solid #C6D1D3;
  position: absolute;   
  left:0;
  right:0;
}

main {
   text-align: center;
}

.error {
   margin: 1em auto;
   background: rgba(255,255,255,0.7);
   padding: 0.5em !important;
   border: 5px solid #C6D1D3;
   max-width: 50%;
}

#table {
  margin-bottom: 2000px;
  max-width: 85%;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #024457;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
}

table {
  background: #444;
}

header {
  text-align: left;
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  background: rgb(230,230,230);
  margin: 0 0 2em 0;
  border-bottom: 5px solid #B6C1D3;  
}

header span {
  padding: 0.5em 0;
}

header span h1 {
  padding: 0 0.2em 0 3em;
  margin: auto 0;
  border-right: 5px solid #B6C1D3;  
}

header span * {
  display: inline;
}

header span a {
  text-decoration: none;
  color: #268FA2;
  margin: 0 1em;
}

#ip {
  font-family: monospace,serif;
  word-wrap: break-word;
  padding: 0 1em 0 0;
  margin: 0;
}

#ip h2 {
  margin: 0;
}

#log {
  overflow: scroll;
  margin-bottom: 2000px;
  margin: -1em auto;
  border: 2px solid #333;
  background: #fff;
  white-space: pre-wrap;
  text-align: left;
  font-family: monospace;
  color: #222;
}

@media screen and (min-width:640px) {
  #log {
    max-width: 100%;
    height: 250px;
  }
} 

@media screen and (min-width:950px) {
  #log {
    max-width: 95%;
    height: 400px;
  }
} 

@media screen and (min-width:1200px) {
  #log {
    max-width: 90%;
    height: 500px;
  }
} 