/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: rgba(255,255,255,0.85);
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
  box-shadow: 2px 2px 10px #666;
}
.responstable tr {
  border: 1px solid rgba(217,228,230, 0.7);
}
.responstable tr:nth-child(odd) {
  background-color: rgba(234,243,243, 0.7);
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #024457;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  box-shadow: 0 0 10px #666;
}
h1 span {
  color: #167F92;
}

table {
  background: #444;
}

body > #container > div  h1 {
  margin: 0 auto;
  background: rgba(255,255,255,0.5);
  display: inline;
  border-radius: 0.2em;
  padding: 0.2em;
  border: 5px solid #C6D1D3;
}

body > #container > div {
  text-align: center;
  margin: 1em 0;
  padding: 1em;
}

html {
  height: 95%;
  background: url("bg.gif");
  background-size: cover;
}

.footer {
   position:absolute;
   bottom:0;
   width: 100%;
   height: 2em;   /* Height of the footer */
   margin: 2em 0 0 0 !important;
   padding: 0 !important;
}

#container {
   min-height:100%;
   position:relative;
   margin: 0 2em;
}

#table {
  padding-bottom: 2em;
}

#submit {
  width: 10%;
  margin: auto;
  display: block;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 23px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

#submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

code {
  background: #232323;
  font-family: monospace,serif;
  word-wrap: break-word;
}


