{{define "main"}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>UnFail2Ban</title>
		<link rel="stylesheet" href="http://localhost:9999/static/styles.css">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	</head>
	<body>
		<header>
			<span>
				<h1><a href='/home'>UnFail2Ban</a></h1>
				<a href='/log'>Log</a>
				<a href='/list'>List</a>
			</span>
			<div id='ip'>
				<h2>
					<code>Your IP: {{.IP}} </code>
				</h2>
			</div>
		</header>	
		{{template "body"}}
		<footer>
			<small>Website written in Go by Noah Santschi-Cooney</small>
		</footer>
	</body>
</html>
{{end}}