{{define "body"}}
    <div class="row">
        <div class="col offset-s1 s10">
            <div id="table" class="card" style="padding:1em; margin-top: 5em">
                <form>
                    <table class="striped responsive-table">
                        <thead>
                            <tr>
                                <th>SELECT</th>
                                <th>TARGET</th>
                                <th>PROT</th>
                                <th>OPT</th>
                                <th>SOURCE</th>
                                <th>DESTINATION</th>
                                <th>DETAILS</th>
                                <th>ADDRESS</th>
                                <th>CO-ORDS</th>
                                <th>ORGANISATION</th>
                            </tr>
                        </thead>
                        {{if .NotEmpty}}
                            <tbody>
                                {{range .Rows}}
                                    <tr class='row'>
                                        <td>
                                            <span class="input btn yellow accent-3 black-text">Unban</span>
                                        </td>
                                        {{range .Data}}
                                            <td>{{.}}</td>
                                        {{end}}
                                    </tr>
                                {{end}}
                            </tbody>
                        {{else}}
                            <tbody>
                                <tr class='row'>
                                    <td>
                                        <span class="input btn yellow accent-3 black-text disabled">No Entries</span>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                            </tbody>
                        {{end}}
                    </table>
                </form>
                <script src='http://localhost:9999/static/js/unban.js'></script>
            </div>
        </div>
    </div>
{{end}}